.clickBox {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border: 1px solid black;
}

.input {
   margin: 5px;
}

.buttons {
    margin: 5px;
}

.button {
    margin: 5px;
}

.scoreboard {
    margin: 10px;
    width: 250px;
    height: 300px;
    border: 1px solid black;
}

.field {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    text-align: center;
    font-size: 24px;

}