.nav {
    display: grid;
    grid-area: n;
    grid-template-rows: 250px 150px;
    grid-gap: 15px;
}

.navContent {
    padding: 20px;
    background-color: aqua;

}

.item {
    color: #296161;
    text-decoration: none;
}

.activeLink {
    color: #ce1a6e;
    font-weight: bold;
    text-decoration: none;
}