.counterUI {
    display: grid;
    grid-template-rows: 170px 90px;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 3px solid #65a3be;
    border-radius: 15px;
    margin: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.text {
    padding: 5px;
    font-size: 25px;
    color: #65a3be;
}

.input {
    width: 100px;
    height: 25px;
    padding: 5px;
    background-color: white;
    border: 2px solid #65a3be;
    text-align: center;
    font-size: 25px;
    color: #65a3be;
}

.buttons {
    display: flex;
    justify-content: center;
    border: 3px solid #65a3be;
    border-radius: 15px;
    margin: 15px;
}

.button {
    box-sizing: border-box;
    margin: 10px;
    width: 60px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #558cb7;
}
.button:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}
.button:hover {
    border-color: transparent;
    background-color: #4986a1;
    color: #fff;
}
.button:active {
    border-color: #6f9cbc !important;
    background-color: #367089 !important;
}
.disabled {
    box-sizing: border-box;
    margin: 10px;
    width: 60px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #65a3be;
}